@charset "utf-8";
@import url("reset.css");

*{
	margin:0;
	padding:0;
}
a{
	color:#000;
}
body{
	font-family:"微软雅黑";
}
@mixin pos($p:relative){
	position:$p;
}

html,body,.container{
	width:100%;
	height:100%;
	//overflow:hidden;
}

.header{
	width:100%;
	height:40px;
	background:#ac0000;
	@include pos;
	a{
		&:nth-of-type(1){
			width:15px;
			height:20px;
			background:url("../images/h_03.gif") no-repeat;
			background-size:cover;
			@include pos(absolute);
			top:8px;
			left:10px;
		}
		&:nth-of-type(2){
			width:21px;
			height:20px;
			background:url("../images/h_05.gif") no-repeat;
			background-size:cover;
			@include pos(absolute);
			top:8px;
			right:10px;
		}
	}
	h2{
		text-align:center;
		line-height:40px;
		color:#fff;
		font-size:18px;
	}
}

.main{
	width:100%;
	height:100%;
	.list{
		width:100%;
		height:32px;
		background:#f0f0f0;
		border-bottom:2px solid #ccc;
		ul{
			li{
				width:20%;
				float:left;
				border-left:1px solid #ccc;
				line-height:32px;
				font-size:14px;
				text-align:center;
				span{
					margin-left:4px;
				}

			}
		}
	}
}

.menu{
	width:100%;
	height:auto;
	padding:10px;
	.list_a{
		widht:100%;
		height:auto;
		dl{
			width:100%;
			height:auto;
			display:-webkit-flex;
			border-bottom:1px solid #ccc;
			margin-top:10px;

			dt{
				
				img{
					width:120px;
					height:90px;
				}
			}
			dd{
				-webkit-flex-grow:1;
				margin-left:10px;
				line-height:25px;
				h3{
					font-size:16px;
				}
				a{
					
					color:#808080;
				}
				p{
					color:#808080;
					span{
						float:right;
						color:#fe5500;
					}
				}
			}
		}
	}
}
.footer{
	width:100%;
	height:80px;
	background:#131315;
	@include pos(fixed);
	bottom:0px;
	display:-webkit-flex;
	dl{
		width:25%;
		height:80px;
		margin-top:10px;
		text-align:center;
		
		dt{
			img{
				width:42px;
				height:41px;
			}
		}
		dd{
			h2{
				margin-left:5px;
				a{
					color:#fff;

				}
			}
		}
	}
}


